<section>
    <h1>Sobre mi</h1>
    <p>Tengo 31 años, vivo en Argentina. Busco oportunidades
        laborales donde me permitan desenvolverme como
        desarrollador Web y seguir creciendo profesionalmente
        dentro del ambiente IT.
    Me gusta la tranquilidad y pasar tiempo con mis seres queridos
    </p>
</section>
<section>
    <h3>Cursos</h3>
    <p>
        Bootcamp Desarrollor Web Front-End - Mind-Hub
    </p>
    <p>
        Programador Web Full Stack - Digital House
    </p>
</section>