<div class="back-img">
    <h1>Luciano Carrizo</h1>
    <img src="https://i.pinimg.com/originals/1a/19/90/1a1990f9081dc6aee01984b8f6b2ae0e.jpg" class="photo" alt="">
    <div class="cv">
        <h3><i class="fa-solid fa-file-pdf" style="color: #e53b10;"></i>Descargar CV</h3>
        <h3><a href="https://github.com/LucianoCarr" target="_blank"><i class="fa-brands fa-square-github" style="color: #b02191;"></i>GitHub</a></h3>
    </div>
    <nav>
        <ul>
            <!-- <li><a href="#about">Quien Soy</a></li> -->
            <li><a href="#skills">Habilidades</a></li>
            <li><a href="#projects">Poyectos</a></li>
            <li><a href="#contact">Contacto</a></li>
        </ul>
    </nav>
</div>
<a href="#" class="sky"><img src="https://www.nicepng.com/png/detail/117-1173466_arrow-pointing-up-vector-up-arrow.png" alt=""></a>
<div class="butterfly"></div>