h1 {
    font-size: 36px;
    font-weight: 800;
    font-style: oblique;
    text-align: center;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 0;
}

ul a {
    font-style: oblique;
    font-weight: 700;
    border-style: groove;
    mix-blend-mode: color-burn;
    width: 100%;
    color: blue;
    mix-blend-mode: unset;
}

li {
    text-align: center;
}

.cv {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}

.back-img {
    background-image: URL('https://cdn.businessinsider.es/sites/navi.axelspringer.es/public/media/image/2021/01/cielo-azul-2207291.jpg?tf=3840x');
    background-size: cover;
}


.photo {
    width: 15rem;
    border-radius: 80%;
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    margin: auto;
}

.sky {
    display: block;
    position: fixed;
    right: 0;
    width: 4%;
}

.sky img {
    border-radius: 40%;
    width: 100%;
}

@media only screen and (max-width: 500px) {
    h3 {
        padding: 0;
    }

    ul {
        padding: 0;
    }

    li {
        padding: 4px;
    }

    ul a {
        padding: 0;
        font-size: smaller;
    }

    .sky img {
        width: 10%;
    }
}