h1 {
    font-size: 36px;
    font-weight: 800;
    font-style: oblique;
    text-align: center;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 0;
}

ul a {
    font-style: oblique;
    font-weight: 700;
    border-style: groove;
    mix-blend-mode: color-burn;
    width: 100%;
    color: blue;
    mix-blend-mode: unset;
}

li {
    text-align: center;
}

.cv {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}

.back-img {
    background-image: URL('https://cdn.businessinsider.es/sites/navi.axelspringer.es/public/media/image/2021/01/cielo-azul-2207291.jpg?tf=3840x');
    background-size: cover;
}

.butterfly {
    background-image: url("https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Ficons.iconarchive.com%2Ficons%2Fpaomedia%2Fsmall-n-flat%2F1024%2Fdevice-laptop-icon.png&f=1&nofb=1&ipt=692922452a7073e4b9b764d7e8a13679869c55b1c20fa5d0ae903141383acbd6&ipo=images");
    background-position: center;
    background-size: contain;
    background-repeat: space;
    background-size: 200px;
    width: 100%;
    height: 8rem;
    margin: 3rem 0;
}

.photo {
    width: 15rem;
    border-radius: 80%;
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    margin: auto;
}

.sky {
    display: flex;
    margin-left: auto;
    justify-content: flex-end;
    position: fixed;
    padding-right: 1rem;
}

.sky img {
    border-radius: 40%;
    width: 4%;
}

h3 {
    padding: 3rem;
}

@media only screen and (max-width: 500px) {
    h3 {
        padding: 0;
    }

    ul {
        padding: 0;
    }

    li {
        padding: 4px;
    }

    ul a {
        padding: 0;
        font-size: smaller;
    }

    .sky img {
        width: 10%;
    }
}