<section id="projects">
    <h2>Proyectos</h2>
    <div class="card-home">
        <div class="card">
                <img src="https://www.madrimasd.org/blogs/matematicas/files/2019/02/57-1441704434.jpg" class="card-img-top" alt="...">
    <div class="card-body">
        <h4 class="card-title">I-ching</h4>
        <div class="card-p">
            <p><b>Proyecto:</b> Una pagina en el que podras conocer tu fortuna mediante la tiradas de monedas. Creada por un grupo de programadores entusiastas</p>
            <p><b>Funcionalidades:</b> Interacccion con monedas al azar para dar con un resultado buscado en Json y su respectiva mutacion</p>
            <p><b>Tecnologias:</b> JavaScript, CSS, HTML, Deploy (Firebase), bootstrap</p>
            <a href="https://librodelasmutaciones.com.ar/" target="_blank">I-ching</a>
        </div>
    </div>
</div>
<div class="card">
    <img src="./assets/img/Logo_Amazing_Events.png" class="card-img-top"  alt="...">
    <div class="card-body">
    <h4 class="card-title">Amazing Events</h4>
    <div class="card-p">
        <p><b>Proyecto:</b> Organizacion de eventos, donde se puede ver de forma detallada y las estadisticas de estos</p>
        <p><b>Funcionalidades:</b> Filtro por categorias, barra de busqueda, Filtro por fechas y con estadisticas</p>
        <p><b>Tecnologias:</b> JavaScript, consumo de API de un tercero, HTML, CSS, bootstrap</p>
        <a href="https://github.com/LucianoCarr/AEvents_Carrizo" target="_blank">Amazing Events</a>
    </div>
    </div>
</div>
<div class="card" id="c3">
    <img src="./assets/img/logo.jpg" class="card-img-top"  alt="...">
    <div class="card-body">
    <h4 class="card-title">Footwear-Fusion</h4>
    <div class="card-p">
        <p><b>Proyecto:</b> Ecommerce desarrollado junto con 4 personas bajo metodología SCRUM</p>
        <p><b>Funcionalidades:</b> Registro de usuarios, Login, CRUD de usuarios y productos, perfil ADMIN donde se accede a los CRUD's</p>
        <p><b>Tecnologias:</b> Javascript, MySQL, Sequelize, CSS, HTML, BOOTSTRAP, Node.js, Patron de diseño MVC.</p>
        <a href="https://github.com/LucianoCarr/Footwear-Fusion" target="_blank">Footwear-Fusion</a>
    </div>
</div>
</div>
</div>
</section>